*{
  margin: 0px;
  padding: 0px;
}
.contenedor{
  padding: 0px 100px;
  margin: 50px 0px 20px 0px;
  font-family: 'Poppins', sans-serif;
}
.encabezado{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 20px;
}
.encabezado_h4{
  color: #9e9e9e;
  cursor: pointer;
}
.encabezado_p, .parrafos_cajas{
  text-align: center;
  font-size: 1em;
  color: #444040;
}
.principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
}
.pricipal_cajas{
  width: 31%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 18px 4px rgba(44,66,69,0.08);
  -moz-box-shadow: 0px 0px 18px 4px rgba(44,66,69,0.08);
  box-shadow: 0px 0px 18px 4px rgba(44,66,69,0.08);
  border-radius: 25px;
  transition: background-color .8s;
  cursor: pointer;
}
.pricipal_cajas:hover{
  background-color: #03a9f426;
  border: .1px solid #2196f31c;
}

.pricipal_cajas i{
  font-size: 3.5rem;
  background: #7986cb4d;
  border: 2px solid #9fa8dab5;
  padding: 25px;
  border-radius: 50%;
}
.titulo_cajas{
font-size: 2rem;
}
.items_cajas-separacion{
  margin: 10px 0px;
}
@media only screen and (max-width: 1260px){
.contenedor{
  padding: 0px;
}  
  .pricipal_cajas{
    font-size: 13.5px;
  }
.pricipal_cajas i{
    font-size: 2em;
  }
.titulo_cajas{
    font-size: 2em;
             
}
}
@media only screen and (max-width: 895px){
.pricipal_caja-1, .pricipal_caja-3{
        display: none;
      }


.pricipal_caja-2{
  width: 90%;
  font-size: 25px;
  margin: 0px;
  height: 500px;
}
}
@media only screen and (max-width: 690px){

.encabezado{
  font-size: 18px;
}
.pricipal_caja-2{
  font-size: 17.5px;
}


.encabezado_p{

font-size: .8rem;
  
}

}
@media only screen and (max-width: 380px){
 .titulo_cajas{
font-size: 1.4em;
}

  .encabezado{
  font-size: 16px;
}
  .encabezado_p, .parrafos_cajas{
    font-size: 13.5px;
  }
}
