*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color:#111;
    display:inline-block;
}

.contenedor{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 160px auto;
    margin: 0px 20px 25px 20px;
    font-family: "Manrope",sans-serif;
    
}

.iconos {
    margin: 0px 6px;
}
.encabezado_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
}
.encabezado_nav-ul{
    display: flex;
    list-style: none;
    width: 360px;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    font-size: 18px;
    margin: 0px 50px 0px 20px;
}
.encabezado_nav-li:hover {
    border-bottom: 1px solid #111;
 
}
.encabezado_titulo{
    font-family: "The Nautigal",sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    height: 50%;
}
.seccion{
    margin: 0px auto;
    max-width: 1010px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}
.grupo-h4 ,.grupo-h5{
    color: #787171;
} 
.grupo-h4 {
    margin-top: 8px;
}
.grupo-imagenes{
    object-fit: cover;
    width: 100%;
    min-width: 250px;
    height: 200px;
    cursor: pointer;
    transition: filter .8s;
}
.grupo-imagenes:hover{
    filter: blur(1px) brightness(0.8);
}

.grupo-articulos{
    flex-grow: 1;
}
.article5{
    flex-grow: 100;
}
.article7 , .article9{
    flex-grow: 5;
}

.article10 , .article12{
    flex-grow: 200;
    
}
.article11{
    flex-grow: 0;
    
}
@media only screen and (max-width: 639px){
   .contenedor{
    grid-template-columns: auto;
    grid-template-rows: 190px auto;
    margin: 1px 1px 30px 1px;
}
    .encabezado_nav-ul{
    margin: 0px;
    font-size: 15px;
    
}
   .encabezado_Iconos-izquierdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 35px;
}
    .grupo-articulos{
        flex-grow: 0;
        width: 90%;
    }
  
}
